@nav_bg_color:#06060b;
@main_color:#a4a4a4;
@light_color:#f5f5f5;
@red_color:#ff0036;
@black_color:#262626;

.white{
	color:@light_color;
}
.red{
	color:@red_color;
}
.black{
	color:@black_color;
}
.m_0{
	margin: 0 !important;
	padding: 0 !important;
}
*{
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}
h1{
	font-size: 3rem;
	text-transform: lowercase;
}
h2{
	text-transform: uppercase;
	font-size: 2rem;
}
button{
	text-transform: uppercase;
	font-size: 2rem;
	padding: 1rem 3.5rem;
	border: none;
}
p{
	font-size: 1.6rem;
}
.btn{
	&_gray{
		color:@light_color;
		background-color: @nav_bg_color;
	}
	&_red{
		color:@light_color;
		background-color: @red_color;
	}
}

.header{
	background-color: @nav_bg_color;
	position: fixed;
	width: 100%;
	opacity: 0.9;
	z-index: 999999;
}
.navigator{
	font-size: 1.8rem;
	&_item{
		color:@main_color !important;
		text-transform: uppercase;
		padding: 1rem;
		margin-left: 1.5rem;
		&:hover{
			color:#ffffff !important;
		}
	}
	&_btn{
		background-color: @main_color;
		border:1px solid @red_color !important;
	}
}
.logo{
	position: absolute;
	top:0;
	left:7%;
	z-index: 99999999;
}
.slider{
	background: url(../img/slider_bg.jpg) no-repeat;
	background-size: cover;
	height: 70rem;
	&_main{
	    height: 100%;
	    display: flex;
	    align-items: center;
	    background-color: rgba(6, 6, 11, 0.3);
	}
	&_title{
		margin-bottom: 5rem;
	}
	&_discr{
		width: 70%;
		margin: auto;
		margin-bottom: 5rem;
		color:@light_color;
	}
	&_btn{
		min-width: 17rem;
		margin-left: 3rem;
		transition: all 0.5s ease;
		&:hover{
			transform: scale(1.1);
		}
	}
}

// About

.about{
	margin-top: 5rem;
	margin-bottom: 5rem;
	&_title{
		margin-bottom: 3rem;
	}
	&_discr{
		font-size: 1.6rem;
		margin-bottom: 5rem;
	}
	&_slider_title{
		font-size: 1.6rem;
	}
	&_card_body{
		font-size: 1.4rem;
	}
	&_btn{
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none !important;
		color:@red_color;
		&:before{
			content: "";
			display:inline-block;
			width: 1.8rem;
			height: 1.8rem;
			margin-right: 5rem;
			background-image: url(../img/svg/minus.png);
		}
		&:hover{
			color:@black_color;
		}
	}
	&_icon{
		display: block;
		width: 8.8rem;
		height: 7.6rem;
		background-image: url(../img/about_romb_white.png);
		font-size: 3.5rem;
		line-height: 7.6rem;
		// width: 35px;
		// height: auto;
		margin-bottom: 2rem;
		// z-index: 9999;
		cursor: pointer;
	}
}
.swiper-scrollbar{
	width: 38%!important;
	height: 0.2rem!important;
	background-color: @black_color;
	left: 50%!important;
    transform: translateX(-50%)!important;
    bottom: 1rem!important;
}

.swiper-scrollbar-portfolio{
	background-color: @red_color!important;
	bottom: 9px !important;
}
.about_scroll_drag{
	position: absolute;
	height: 2rem!important;
	// background-color: @black_color;
	background-image: url(../img/romb_scroll_black.png);
	bottom: -8px;
}
.portfolio_scroll_drag{
	position: absolute;
	bottom: -8px;
	height: 2rem !important;
	// background-color: @red_color;
	background-image: url(../img/romb_scroll_red.png);
}
.clients-swiper-scrollbar{
	background-color: @red_color!important;
	bottom: 9px !important;
}
.clients_scroll_drag{
	position: absolute;
	height: 2rem!important;
	// background-color: @red_color;
	background-image: url(../img/romb_scroll_red.png);
	bottom: -8px;
}
.clients-swiper-container{
	padding: 8rem 0;
}
.team-swiper-container{
	padding-bottom: 10rem;
}
.team_scroll_drag{
	position: absolute;
	height: 2rem!important;
	// background-color: @black_color;
	background-image: url(../img/romb_scroll_black.png);
	bottom: -9px;
}
.collapsed{
	color:@black_color;
	&:before{
		content: "";
		width: 1.8rem;
		height: 1.8rem;
		background-image: url(../img/svg/plus_png.svg.png);
	}
	&:hover{
		color:@red_color;
	}
}
.scroll{
	margin-top: 4rem;
	margin-bottom: 3rem;
}
.thumbs_title{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 3.5rem;
	margin-top: 3rem;
}
.thumbs_discr{
	font-size: 1.6rem;
}

// Swipper_about_us

.about-swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:5rem;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    height: 100%;
    margin-right: 2rem;
    margin-bottom: 3rem;	
    padding-top:2rem;
}
.gallery-thumbs .swiper-slide-thumb-active {

}
.gallery-thumbs .swiper-slide-thumb-active > .about_icon{
	background-image: url(../img/about_romb_red.png);
	color:@light_color;
}
// Portfolio

.portfolio{
	background-color: @nav_bg_color;
	padding-top:10rem;
	&_title{
		color:@light_color;
		margin-bottom: 3.5rem;
	}
	&_link{
		font-family: Lato, sans-serif;
		font-size: 1.6rem;
		font-weight: bold;
		color:@main_color;
		margin-bottom: 10rem;
		text-transform: uppercase;
		&:hover{
			color:@light_color;
		}
	}
	&_img{
		width: 100%;
		height: 35rem;
	}
	&_galery_link{
		width: 100%;
	}
}
.img_mask{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right:0;
	background-color: #04090c;
	opacity: 0;
	&:hover{
		opacity: 0.8;
	}
}
.krest{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    &:hover{
		transform: scale(1.05);
    }
}
.signature{
	position: absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 1.6rem;
	font-weight: bold;
	color:@light_color;
	transition: all 0.3s ease;
}

.portfolio_swiper {
  width: 100%;
  height: 90rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_swiper_slide {
  height: calc((100%-22px) / 2);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
// Feature
.feature{
	position: relative;
	padding-top:10rem;
	padding-bottom: 40rem;
	&_input{
		margin-top: 17rem;
		&_element{
			position: relative;
			display: block;
			border:1px solid #e7e7e7;
			margin-bottom: 2.5rem;
			padding: 1rem 2rem;
			z-index: 9999;
			background-color: @light_color;
			&:hover{
				background-color: @red_color;
				color:@light_color;
				cursor: pointer;
			}
		}
		&_check{
			&_right{
				margin-right: 1.8rem;
			}
			&_left{
				margin-left: 1.8rem;
			}	
		}
		&_label{
			text-transform: uppercase;
			font-family: Raleway, sans-serif;
			font-weight: 600;
			font-size: 2rem;
			&:hover{
				cursor: pointer;
			}
		}
	}
	&_box{
		position: absolute;
		left:50%;
		top:25%;
		// transform: translateY(-50%);
		transform: translateX(-50%);
		z-index: 1;
		&_img{
		}
		&_btn{
			position: absolute;
			z-index: 2;
			bottom: 10%;
			left: 50%;
			margin-left:-17%
		}
	}
}

// Clients
.clients{
	background-image: url(../img/clients_bg.jpg);
	background-size: cover;
	background-position: 20% 30%;
	&_main{
		height: 100%;
		background-color: rgba(6, 6, 11, 0.8);
	}
	&_discr{
		color:@light_color;
	}
	&_title{
		text-transform: uppercase;
		color:@light_color;
		margin-top: 4rem;
	}
	&_say{
		color:@light_color;
		margin: 5rem 0;
	}
	&_name{
		color:@red_color;
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: bold;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
	&_box{
			margin-top: 4rem;
			background-color: @light_color;
			box-shadow: inset 0px 0px 30px rgba(0,0,0,0.8);
			padding: 4rem 5rem;
		&_name{
			color:@black_color;
			font-size: 2.3rem;
			&:before{
			  position: absolute;
			  top: 50%;
			  left:20%;
			  transform: translate(-50%, 0);
				content:'';
				height: 4.5rem;
				width: 4.5rem;
			}
		}
		&_icon1{
			&:before{
				background: url(../img/clients_icon1.png);
				background-size: cover;
			}
		}
		&_icon2{
			&:before{
				background: url(../img/clients_icon2.png);
				background-size: cover;
			}
		}
		&_icon3{
			&:before{
				background: url(../img/clients_icon4.png);
				background-size: cover;
			}
		}
		&_icon4{
			&:before{
				background: url(../img/clients_icon3.png);
				background-size: cover;}
		}
	}
	&_indicator{
		width: 1rem !important;
		height: 1rem !important;
	}
}
.carousel-indicators .active {
    opacity: 1;
    background-color: red;
}

.team{
	padding: 10rem 0;
	&_working{
		border:1px solid @black_color;
		min-height: 28rem;
	}
	&_card{
		display: block;
		position: relative;
	}
	&_img{		
		&_mask{
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right:0;
			background-color: @black_color;
			opacity: 0;
			&:hover{
				opacity: 1;
			}
			&_icons{
				position: absolute;
				top:50%;
				left:50%;
				transform: translateY(-50%);
				transform: translateX(-50%);
				&_link{
					display: inline-block;
					width: 25%;
				}
			}	
		}
	}
	&_name{
		display: block;
		text-transform: uppercase;
		color:@red_color;
		font-size: 2rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
		text-decoration: none;
		min-height: 6rem;
	}
	&_profession{
		font-size: 1.6rem;
		margin-bottom: 4rem;
	}
}
.skills{
	padding-bottom: 10rem;
	&_icons{
		margin-top: 10rem!important;
	}
	&_box{
		margin-bottom: 2rem;
	}
}

.services{
	background-color: @black_color;
	color:@light_color;
	padding: 10rem 0;
	&_header{
		line-height: 5.6rem;
	}
	&_icon{
		display: inline-block;
		font-size: 3rem;
		width: 6.6rem;
		height: 5.6rem;
		background-image: url(../img/romb_gray.jpg.png);
		text-align: center;
		margin-right: 2rem;
		color:@black_color;
	}
	&_title{
		display: inline-block;
	}
	&_discr{
		margin-top: 3rem;
		padding: 3rem;
		font-family: Lato, sans-serif;
		font-size: 1.6rem;
		background-color: #343434;
	}
	&_card{
		margin-top: 5rem;
		&:hover{
			.services_icon{
				background-image: url(../img/romb_red.jpg.png);
				color:@light_color;
			}
			.services_discr{
				background-color: #3d2329;
			}
		}
	}
}	
.plans{
	padding: 10rem 0;
	&_card{
		padding-bottom: 1.5rem;
		border:1px solid #e7e7e7;
		margin-bottom: 2rem;
		&:hover{
			.plans_card_price{
				background-color: @red_color;
				color:@light_color;
			}
			.plans_card_btn{
				background-color: @red_color;
				color:@light_color;
			}
		}
		&_title{
			background-color: @black_color;
			color:@light_color;
			text-transform: uppercase;
			font-size: 2rem;
			padding: 1rem 8rem;
		}
		&_price{
			background-color: @light_color;
			padding: 2rem 0;
			
			span{
				margin-right: 0.5rem;
				font-size: 5rem;
				font-weight: bold;
				font-style: italic;
				transition: all 0.4s ease;
			}
		}
		&_discr{
			border-bottom: 1px solid #e7e7e7;
			padding: 1rem 0;
		}
		&_btn{
			transition: all 0.4s ease;
			&:hover{
				transform: scale(1.2);
			}
		}
	}
}

// Media
@media (max-width: 992px){
	.logo{
		display: none;
	}
	.navigator{
	font-size: 1.4rem;
	&_item{
		color:@main_color !important;
		text-transform: uppercase;
		padding: 1rem;
		margin-left: 1.2rem;
		}
	}
	.about_slider_title{
		margin-left: 2rem;
	}
	.feature_input{
		margin-top: 15rem;
		&_label{
			font-size: 1rem;
		}
		&_element{
		padding: 0.5rem 1rem;
		}
	}
	.clients_box_name{
		font-size: 1.5rem;
		&:before{
		  position: absolute;
		  top: 50%;
		  left:20%;
		  transform: translate(-50%, 0);
			height: 3.5rem;
			width: 3.5rem;
		}
	}
}
.twitter{
	background-image: url(../img/twitter_bg.jpg);
	color:@light_color;
	&_icon{
		color:@red_color;
	}
}
@media(max-width: 768px){
	.accordion{
		margin-bottom: 4rem;
	}
	.feature_box{
		top:25%;
	}
	.feature_input{
		margin-top: 20rem;
	}
	.clients_box{
	    padding: 8rem 1rem 1rem 1rem;	
	}
	.clients_box_name{
		color:@black_color;
		font-size: 1.5rem!important;
		font-weight: bold;
		text-align: center;
		&:before{
		  position: absolute;
		  top: 30%;
		  left:50%;
		  transform: translate(-50%, 0);
			content:'';
			height: 4.5rem;
			width: 4.5rem;
		}
	}	
}

@media (max-width: 1200px){
	.navigator{
	font-size: 1.4rem;
	&_item{
		color:@main_color !important;
		text-transform: uppercase;
		padding: 1rem;
		margin-left: 1.2rem;
		}
	}
	.feature_input{
		&_label{
			font-size: 1rem;
		}
	}
	.clients_box_name{
		font-size: 1.8rem;
	}
}
@media (max-width: 576px){
	// .slider_btn{
	// 	margin-bottom:3rem;
	// }
	.about {
		margin-bottom: 0;
		&_icon{
			background: none;
		}
	}
	.thumbs_discr{
		display: none;
	}
	.thumbs_title{
		font-size: 1rem;
	}
	.feature{
		padding-bottom: 10rem;
	}
	.feature_box{
		bottom: 0;
		left:20%;
	}
	.feature_input{
		margin-top: 2rem;
	}
	.feature_box_img{
		display: none;
	}
	.team_name{
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-decoration: none;
	}
	.team_profession{
		margin-bottom: 1rem;
	}
	.team-swiper-container{
		padding-bottom: 5rem;
	}
}
