@import "normalize";
@import "colors";
@import "ui";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: $main_bg;
  color: $main;
  font-size: 16px;
}

#root {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 3.125rem 0;
  @media (max-width: 1200px) {
    padding: 1rem 0;
  }
  &__header {
    padding: 0 0 3.125rem 0;
    @media (max-width: 1200px) {
      padding: 0 0 1rem 0;
    }
  }
  &__content {
    flex: 1 1 auto;
  }
  &__error {
    padding: 1rem 0;
    text-align: center;
    span {
      color: $red;
      text-transform: uppercase;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
  }
  &__logo--loading {
    animation: 1s linear 0s normal none infinite running rotation;
  }
}
.content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  @media (max-width: 992px) {
    display: block;
  }
  &__leftside {
    flex: 0 0 25%;
    @media (max-width: 992px) {
      margin-bottom: 1rem;
    }
  }
  &__rightside {
    flex: 1 1 auto;
    margin-left: 1.25rem;
    @media (max-width: 992px) {
      margin-left: 0;
    }
  }
}

.filter {
  padding: 1.25rem 0 0.625rem 0rem;
  &__title {
    text-transform: uppercase;
    padding: 0 1.25rem 0.625rem 1.25rem;
    font-size: 0.75rem;
  }
  &__checkboxes {
    @media (max-width: 992px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.tabs {
  display: flex;
  margin-bottom: 1.25rem;

  label {
    flex: 1 1 auto;
    &:last-child {
      .tabs__text {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    &:first-child {
      .tabs__text {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-left: 1px solid $gray;
      }
    }
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.125rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.75rem;
    flex: 1 1 auto;
    border: 1px solid $gray;
    background-color: $white;
    border-left: 0;
    @media (max-width: 768px) {
      height: 2.4rem;
    }
    @media (max-width: 576px) {
      font-size: 0.6rem;
    }
  }
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    border: 0;
    padding: 0;
  }
  .tabs__input:checked + .tabs__text {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }
  .tabs__input:focus + .tabs__text {
    outline: 1px solid $blue;
  }
}

.ticket-list {
  &__preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
  &__error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    span {
      text-transform: uppercase;
      color: $red;
    }
  }
}

.ticket {
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  @media (max-width: 576px) {
    padding: 0.8rem;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
  }
  &__price {
    font-size: 1.5rem;
    color: $blue;
  }
  &__company {
    width: 6.875rem;
    height: 2.25rem;
    img {
      max-width: 100%;
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 100%;
  }
  &__item {
    flex: 1 1 33.333%;
    margin-bottom: 0.625rem;
  }
  &__item-title {
    color: $gray;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    @media (max-width: 576px) {
      font-size: 0.6rem;
      line-height: 0.9rem;
    }
  }
  &__item-value {
    font-size: 0.875rem;
    line-height: 1.31rem;
    @media (max-width: 576px) {
      font-size: 0.7rem;
      line-height: 0.9rem;
    }
    span {
      &::after {
        content: ", ";
      }
      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
