.white {
  color: #f5f5f5;
}
.red {
  color: #ff0036;
}
.black {
  color: #262626;
}
.m_0 {
  margin: 0 !important;
  padding: 0 !important;
}
.mb_2 {
  margin-bottom: 4rem;
}
.p_3 {
  padding-left: 3rem;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 3rem;
  text-transform: lowercase;
}
h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
button {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 3.5rem;
  border: none;
}
p {
  font-size: 1.6rem;
}
.btn_gray {
  color: #f5f5f5;
  background-color: #06060b;
}
.btn_red {
  color: #f5f5f5;
  background-color: #ff0036;
}
.header {
  background-color: #06060b;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 999999;
}
.navigator {
  font-size: 1.8rem;
}
.navigator_item {
  color: #a4a4a4 !important;
  text-transform: uppercase;
  padding: 1rem;
  margin-left: 1.5rem;
}
.navigator_item:hover {
  color: #ffffff !important;
}
.navigator_btn {
  background-color: #a4a4a4;
  border: 1px solid #ff0036 !important;
}
.logo {
  position: absolute;
  top: 0;
  left: 7%;
  z-index: 99999999;
}
.slider {
  background: url(../img/slider_bg.jpg) no-repeat;
  background-size: cover;
  height: 70rem;
}
.slider_main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(6, 6, 11, 0.3);
}
.slider_title {
  margin-bottom: 5rem;
}
.slider_discr {
  width: 70%;
  margin: auto;
  margin-bottom: 5rem;
  color: #f5f5f5;
}
.slider_btn {
  min-width: 17rem;
  margin-left: 3rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slider_btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.about_title {
  margin-bottom: 3rem;
}
.about_discr {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
.about_slider_title {
  font-size: 1.6rem;
}
.about_card_body {
  font-size: 1.4rem;
}
.about_btn {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none !important;
  color: #ff0036;
}
.about_btn:before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 5rem;
  background-image: url(../img/svg/minus.png);
}
.about_btn:hover {
  color: #262626;
}
.about_icon {
  display: block;
  width: 8.8rem;
  height: 7.6rem;
  background-image: url(../img/about_romb_white.png);
  font-size: 3.5rem;
  line-height: 7.6rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.swiper-scrollbar {
  width: 38%!important;
  height: 0.2rem!important;
  background-color: #262626;
  left: 50%!important;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  bottom: 1rem!important;
}
.swiper-scrollbar-portfolio {
  background-color: #ff0036 !important;
  bottom: 9px !important;
}
.about_scroll_drag {
  position: absolute;
  height: 2rem!important;
  background-image: url(../img/romb_scroll_black.png);
  bottom: -8px;
}
.portfolio_scroll_drag {
  position: absolute;
  bottom: -8px;
  height: 2rem !important;
  background-image: url(../img/romb_scroll_red.png);
}
.clients-swiper-scrollbar {
  background-color: #ff0036 !important;
  bottom: 9px !important;
}
.clients_scroll_drag {
  position: absolute;
  height: 2rem!important;
  background-image: url(../img/romb_scroll_red.png);
  bottom: -8px;
}
.clients-swiper-container {
  padding: 8rem 0;
}
.team-swiper-container {
  padding-bottom: 10rem;
}
.team_scroll_drag {
  position: absolute;
  height: 2rem!important;
  background-image: url(../img/romb_scroll_black.png);
  bottom: -9px;
}
.collapsed {
  color: #262626;
}
.collapsed:before {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background-image: url(../img/svg/plus_png.svg.png);
}
.collapsed:hover {
  color: #ff0036;
}
.scroll {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.thumbs_title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
}
.thumbs_discr {
  font-size: 1.6rem;
}
.about-swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  height: 100%;
  margin-right: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.gallery-thumbs .swiper-slide-thumb-active > .about_icon {
  background-image: url(../img/about_romb_red.png);
  color: #f5f5f5;
}
.portfolio {
  background-color: #06060b;
  padding-top: 10rem;
}
.portfolio_title {
  color: #f5f5f5;
  margin-bottom: 3.5rem;
}
.portfolio_link {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #a4a4a4;
  margin-bottom: 10rem;
  text-transform: uppercase;
}
.portfolio_link:hover {
  color: #f5f5f5;
}
.portfolio_img {
  width: 100%;
  height: 35rem;
}
.portfolio_galery_link {
  width: 100%;
}
.img_mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #04090c;
  opacity: 0;
}
.img_mask:hover {
  opacity: 0.8;
}
.krest {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.krest:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.signature {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.6rem;
  font-weight: bold;
  color: #f5f5f5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio_swiper {
  width: 100%;
  height: 90rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio_swiper_slide {
  height: calc(39%);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.feature {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 40rem;
}
.feature_input {
  margin-top: 17rem;
}
.feature_input_element {
  position: relative;
  display: block;
  border: 1px solid #e7e7e7;
  margin-bottom: 2.5rem;
  padding: 1rem 2rem;
  z-index: 9999;
  background-color: #f5f5f5;
}
.feature_input_element:hover {
  background-color: #ff0036;
  color: #f5f5f5;
  cursor: pointer;
}
.feature_input_check_right {
  margin-right: 1.8rem;
}
.feature_input_check_left {
  margin-left: 1.8rem;
}
.feature_input_label {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}
.feature_input_label:hover {
  cursor: pointer;
}
.feature_box {
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.feature_box_btn {
  position: absolute;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  margin-left: -17%;
}
.clients {
  background-image: url(../img/clients_bg.jpg);
  background-size: cover;
  background-position: 20% 30%;
}
.clients_main {
  height: 100%;
  background-color: rgba(6, 6, 11, 0.8);
}
.clients_discr {
  color: #f5f5f5;
}
.clients_title {
  text-transform: uppercase;
  color: #f5f5f5;
  margin-top: 4rem;
}
.clients_say {
  color: #f5f5f5;
  margin: 5rem 0;
}
.clients_name {
  color: #ff0036;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.clients_box {
  margin-top: 4rem;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.8);
  padding: 4rem 5rem;
}
.clients_box_name {
  color: #262626;
  font-size: 2.3rem;
}
.clients_box_name:before {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: '';
  height: 4.5rem;
  width: 4.5rem;
}
.clients_box_icon1:before {
  background: url(../img/clients_icon1.png);
  background-size: cover;
}
.clients_box_icon2:before {
  background: url(../img/clients_icon2.png);
  background-size: cover;
}
.clients_box_icon3:before {
  background: url(../img/clients_icon4.png);
  background-size: cover;
}
.clients_box_icon4:before {
  background: url(../img/clients_icon3.png);
  background-size: cover;
}
.clients_indicator {
  width: 1rem !important;
  height: 1rem !important;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: red;
}
.team {
  padding: 10rem 0;
}
.team_working {
  border: 1px solid #262626;
  min-height: 28rem;
}
.team_card {
  display: block;
  position: relative;
}
.team_img_mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #262626;
  opacity: 0;
}
.team_img_mask:hover {
  opacity: 1;
}
.team_img_mask_icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.team_img_mask_icons_link {
  display: inline-block;
  width: 25%;
}
.team_name {
  display: block;
  text-transform: uppercase;
  color: #ff0036;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-decoration: none;
  min-height: 6rem;
}
.team_profession {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.skills {
  padding-bottom: 10rem;
}
.skills_icons {
  margin-top: 10rem!important;
}
.skills_box {
  margin-bottom: 2rem;
}
.services {
  background-color: #262626;
  color: #f5f5f5;
  padding: 10rem 0;
}
.services_header {
  line-height: 5.6rem;
}
.services_icon {
  display: inline-block;
  font-size: 3rem;
  width: 6.6rem;
  height: 5.6rem;
  background-image: url(../img/romb_gray.jpg.png);
  text-align: center;
  margin-right: 2rem;
  color: #262626;
}
.services_title {
  display: inline-block;
}
.services_discr {
  margin-top: 3rem;
  padding: 3rem;
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  background-color: #343434;
}
.services_card {
  margin-top: 5rem;
}
.services_card:hover .services_icon {
  background-image: url(../img/romb_red.jpg.png);
  color: #f5f5f5;
}
.services_card:hover .services_discr {
  background-color: #3d2329;
}
.plans {
  padding: 10rem 0;
}
.plans_card {
  padding-bottom: 1.5rem;
  border: 1px solid #e7e7e7;
  margin-bottom: 2rem;
}
.plans_card:hover .plans_card_price {
  background-color: #ff0036;
  color: #f5f5f5;
}
.plans_card:hover .plans_card_btn {
  background-color: #ff0036;
  color: #f5f5f5;
}
.plans_card_title {
  background-color: #262626;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem 8rem;
}
.plans_card_price {
  background-color: #f5f5f5;
  padding: 2rem 0;
}
.plans_card_price span {
  margin-right: 0.5rem;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.plans_card_discr {
  border-bottom: 1px solid #e7e7e7;
  padding: 1rem 0;
}
.plans_card_btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.plans_card_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.twitter {
  background-image: url(../img/twitter_bg.jpg);
  color: #f5f5f5;
  padding: 9rem 0;
}
.twitter_icon {
  color: #ff0036;
  font-size: 4rem;
}
.blog {
  padding: 9rem 4rem 6rem;
}
.blog_img {
  width: 100%;
}
.blog_img_box {
  position: relative;
}
.blog_img_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 235, 235, 0.6);
  opacity: 0;
}
.blog_img_mask:hover {
  cursor: pointer;
  opacity: 1;
}
.blog_discr_title {
  padding: 0;
  font-size: 2rem;
}
.blog_discr_icon {
  font-size: 1.4rem;
  color: #a4a4a4;
}
.blog_discr_icon i {
  margin: 2rem 0.5rem;
}
.blog_discr_icon:hover {
  text-decoration: none;
  color: #ff0036;
}
.blog_discr_about {
  max-height: 7.5rem;
  overflow: hidden;
}
.blog_discr_btn {
  padding: 0.5rem 2.5rem;
  margin-top: 0;
}
.blog_discr_btn:hover {
  background-color: #ff0036;
}
.blog_load_btn {
  font-size: 5rem;
  background: none;
  color: #a4a4a4;
  padding: 0;
}
.blog_load_btn:focus {
  outline: none !important;
}
.blog_load_btn:hover {
  color: #ff0036;
}
.footer {
  padding: 8rem 0 0 0;
}
.footer_map {
  height: 70vh;
}
.footer_contacts {
  position: relative;
}
.footer_contacts_adress {
  position: relative;
  left: 10%;
}
.footer_contacts_adress_img {
  width: 100%;
  height: auto;
}
.footer_contacts_adress_title {
  position: absolute;
  color: #f5f5f5;
  top: 7%;
  left: 5%;
}
.footer_form {
  width: 40rem;
  background-color: #fff;
  position: absolute;
  bottom: 3%;
  right: 5%;
  padding: 4rem 5rem;
}
.footer_form_title {
  margin-bottom: 2rem;
}
.footer_form_box {
  margin-bottom: 3rem;
}
.footer_form_box_input {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.6rem;
}
.footer_box {
  position: absolute;
  top: 40%;
  left: 3%;
}
@media (max-width: 1200px) {
  .navigator {
    font-size: 1.4rem;
  }
  .navigator_item {
    color: #a4a4a4 !important;
    text-transform: uppercase;
    padding: 1rem;
    margin-left: 1.2rem;
  }
  .feature_input_label {
    font-size: 1rem;
  }
  .clients_box_name {
    font-size: 1.8rem;
  }
  .blog {
    padding: 4rem 2rem 0;
  }
  .blog_discr_title {
    font-size: 1.5rem;
  }
  .blog_discr_icon {
    font-size: 1rem;
  }
  .blog_discr_icon i {
    margin: 2rem 0.5rem;
  }
  .blog_discr_about {
    font-size: 1.3rem;
  }
  .blog_discr_btn {
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    margin-top: 0;
  }
  .footer_contacts_adress_img {
    width: calc(80%);
  }
  .footer_contacts_adress_title p {
    font-size: 1.3rem;
  }
  .footer_form {
    width: 30rem;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 3%;
    right: 5%;
    padding: 2rem 2.5rem;
  }
  .footer_form textarea {
    width: 100%;
  }
  .footer_form_title {
    margin-bottom: 2rem;
  }
  .footer_form_box {
    margin-bottom: 1.5rem;
  }
  .footer_form_box_input {
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .footer_form_box_btn {
    font-size: 1.4rem;
  }
}
@media (max-width: 992px) {
  .logo {
    display: none;
  }
  .navigator {
    font-size: 1.4rem;
  }
  .navigator_item {
    color: #a4a4a4 !important;
    text-transform: uppercase;
    padding: 1rem;
    margin-left: 1.2rem;
  }
  .about_slider_title {
    margin-left: 2rem;
  }
  .feature_input {
    margin-top: 15rem;
  }
  .feature_input_label {
    font-size: 1rem;
  }
  .feature_input_element {
    padding: 0.5rem 1rem;
  }
  .clients_box_name {
    font-size: 1.5rem;
  }
  .clients_box_name:before {
    position: absolute;
    top: 50%;
    left: 20%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    height: 3.5rem;
    width: 3.5rem;
  }
  .blog {
    padding: 4rem 2rem 0;
  }
  .blog_box {
    margin-top: 2rem;
  }
  .blog_discr_title {
    font-size: 1.5rem;
    padding-left: 0;
  }
  .blog_discr_icon {
    font-size: 1rem;
  }
  .blog_discr_icon i {
    margin: 2rem 0.5rem;
  }
  .blog_discr_about {
    max-height: 4rem;
    font-size: 1.3rem;
  }
  .blog_discr_btn {
    font-size: 1rem;
    padding: 1.1rem 2rem;
    margin-top: 0;
  }
  .footer_contacts_adress_img {
    width: calc(75%);
  }
  .footer_contacts_adress_title p {
    font-size: 1rem;
  }
  .footer_contacts_adress {
    top: 40%;
  }
}
@media (max-width: 768px) {
  .accordion {
    margin-bottom: 4rem;
  }
  .feature_box {
    top: 25%;
  }
  .feature_input {
    margin-top: 20rem;
  }
  .clients_box {
    padding: 8rem 1rem 1rem 1rem;
  }
  .clients_box_name {
    color: #262626;
    font-size: 1.5rem!important;
    font-weight: bold;
    text-align: center;
  }
  .clients_box_name:before {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    content: '';
    height: 4.5rem;
    width: 4.5rem;
  }
  .blog {
    padding: 4rem 2rem 0;
  }
  .footer_contacts_adress_img {
    width: calc(70%);
  }
  .footer_contacts_adress_title p {
    font-size: 1rem;
  }
  .footer_form {
    width: 20rem;
    padding: 2rem 2.5rem;
  }
  .footer_form textarea {
    width: 100%;
  }
  .footer_form_title {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .footer_form_box {
    margin-bottom: 1.5rem;
  }
  .footer_form_box_input {
    display: block;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }
  .footer_form_box_btn {
    padding: 0.5rem 1rem!important;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .about {
    margin-bottom: 0;
  }
  .about_icon {
    background: none;
  }
  .thumbs_discr {
    display: none;
  }
  .thumbs_title {
    font-size: 1rem;
  }
  .feature {
    padding-bottom: 10rem;
  }
  .feature_box {
    bottom: 0;
    left: 20%;
  }
  .feature_input {
    margin-top: 2rem;
  }
  .feature_box_img {
    display: none;
  }
  .team_name {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
  }
  .team_profession {
    margin-bottom: 1rem;
  }
  .team-swiper-container {
    padding-bottom: 5rem;
  }
  .plans {
    padding: 10rem 0;
  }
  .plans_card_title {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
  .plans_card_price span {
    font-size: 2.5rem;
  }
  .plans_card_discr {
    font-size: 1rem;
  }
  .plans_card_btn {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  .blog {
    padding: 3rem 1rem 0;
  }
  .blog_discr_title {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .blog_discr_about {
    max-height: 4rem;
    font-size: 1.3rem;
  }
  .blog_discr_btn {
    font-size: 1.6rem;
    padding: 1.1rem 2rem;
    margin-top: 0;
  }
  .footer_contacts_adress_img {
    width: calc(65%);
  }
  .footer_contacts_adress {
    left: 0;
  }
  .footer_contacts_adress_img {
    opacity: 0.7;
  }
  .footer_contacts_adress_title p {
    font-size: 0.8rem;
  }
  .footer_form {
    width: 20rem;
    bottom: 3%;
    right: 5%;
    padding: 2rem 2.5rem;
  }
  .footer_form textarea {
    width: 100%;
  }
  .footer_form_title {
    margin-bottom: 2rem;
  }
  .footer_form_box {
    margin-bottom: 1.5rem;
  }
  .footer_form_box_input {
    display: block;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  .footer_form_box_btn {
    font-size: 1.4rem;
  }
}
