@charset "UTF-8";

@font-face {
  font-family: "Bebas Neue";
  font-display: swap;
  src: url("../fonts/Bebas Neue Regular Regular.woff") format("woff"), url("../fonts/Bebas Neue Regular Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  font-display: swap;
  src: url("../fonts/Bebas Neue Bold.woff") format("woff"), url("../fonts/Bebas Neue Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat.woff") format("woff"), url("../fonts/Montserrat.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat_bold.woff") format("woff"), url("../fonts/montserrat_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/Myriad Pro.woff") format("woff"), url("../fonts/Myriad Pro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.main__banner_text .btn,
.featured__container .carnival__card .text .btn,
.news__cards .card__action .btn,
.sales__search form .btn,
.footer {
  background: #f9236f;
  background: -o-linear-gradient(left, #f9236f 0%, #f92357 35%, #f92347 100%);
  background: -webkit-gradient(linear, left top, right top, from(#f9236f), color-stop(35%, #f92357), to(#f92347));
  background: linear-gradient(to right, #f9236f 0%, #f92357 35%, #f92347 100%);
}

body {
  background: url("../img/bg.jpg") 0 0/cover repeat;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  min-width: 320px;
}

.star {
  cursor: pointer;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icons/icons.svg#star_77949") 0 0/contain no-repeat;
}

.old_price {
  color: #6b6b6b;
  text-decoration: line-through;
}

.new_price {
  font-weight: bold;
  margin-left: 10px;
}

.container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 115px;
  background: rgba(102, 204, 255, 0.3);
  z-index: 100;
}

.header__container {
  width: 100%;
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row_top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row_top .text__email {
  color: #000;
  margin-left: 80px;
}

.header__row_top .langs a {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__row_top .langs a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.header__row_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row_bottom .logo {
  color: #000;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 20px;
}

.header__row_bottom .logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  text-decoration: underline;
  color: #f9236f;
}

.header__row_bottom .menu__list li {
  display: inline-block;
  margin-right: 10px;
}

.header__row_bottom .menu__list .search__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icons.svg#magnifying-glass") 0 0/contain no-repeat;
}

.header__row_bottom .menu__list .basket_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icons.svg#shopping-cart") 0 0/contain no-repeat;
}

.header__row_bottom .menu__list .submenu_icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icons.svg#list") 0 0/contain no-repeat;
}

.header__row_bottom .menu__link {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__row_bottom .menu__link:hover {
  text-decoration: underline;
  color: #f9236f;
}

.header .search {
  opacity: 0;
  visibility: hidden;
  width: 0;
  position: absolute;
  background-color: #7bc3db;
  top: 12px;
  right: 93px;
  width: 0px;
  height: 50px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header .search.active {
  width: 415px;
  opacity: 1;
  visibility: visible;
}

.header .search__input {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #7bc3db;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.header .search__input:hover {
  background-color: #fff;
}

.header .search__input:focus {
  background-color: #fff;
}

.header .search__button {
  width: 15px;
  height: 15px;
  background-color: #7bc3db;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin-left: 5px;
}

.header .search__button img {
  max-width: 100%;
}

.header .action_menu {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 90px;
  right: 0;
  background-color: #7bc3db;
  border-radius: 10px;
  padding: 20px 30px;
}

.header .action_menu__list li {
  margin-top: 20px;
}

.header .action_menu__link {
  color: #000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .action_menu__link:hover {
  text-decoration: underline;
  color: #f9236f;
}

.header .action_menu.active {
  opacity: 1;
  visibility: visible;
  top: 100px;
  z-index: 2;
}

.header__burger {
  cursor: pointer;
  display: none;
}

.header__hr {
  height: 1px;
  background-color: #000;
  margin: 15px 0 15px 0;
}

.main__banner {
  margin-top: 115px;
  width: 100%;
  height: 1080px;
  background: url("../img/girl_bg.png") 100% 100%/contain no-repeat, url("../img/main_banner.jpg") 0 0/cover no-repeat;
}

.main__banner_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__banner_text {
  max-width: 620px;
  text-align: center;
}

.main__banner_text .title {
  line-height: 0.75;
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
}

.main__banner_text .title .pink {
  color: #f9236f;
}

.main__banner_text .subtitle {
  font-weight: 800;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 30px;
}

.main__banner_text .subtitle span {
  text-align: center;
}

.main__banner_text .discr {
  margin: 30px 0 30px 0;
}

.main__banner_text .btn {
  padding: 15px 25px;
  color: #fff;
}

.featured {
  height: 1100px;
}

.featured__container {
  background-color: #fff;
  padding-top: 50px;
  position: relative;
  bottom: 3%;
}

.featured__container .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-bottom: 100px;
}

.featured__container .benefits .benefit {
  position: relative;
  padding: 0 10px;
}

.featured__container .benefits .benefit__icon {
  width: 110px;
  height: 110px;
  padding: 25px;
  left: 50%;
  bottom: 70%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}

.featured__container .benefits .benefit__icon img {
  max-width: 100%;
}

.featured__container .benefits .benefit__title {
  position: relative;
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 17px;
  min-height: 50px;
}

.featured__container .benefits .benefit__subtitle {
  font-size: 16px;
}

.featured__container .carnival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.featured__container .carnival .first {
  background: url("../img/product_banner_1.jpg") 0 0/cover no-repeat;
}

.featured__container .carnival .second {
  background: url("../img/product_banner_2.jpg") 0 0/cover no-repeat;
}

.featured__container .carnival__card {
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.featured__container .carnival__card:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.featured__container .carnival__card .text {
  width: 50%;
}

.featured__container .carnival__card .text .title span {
  font-size: 40px;
  font-weight: bold;
}

.featured__container .carnival__card .text .pink {
  color: #f9236f;
}

.featured__container .carnival__card .text .subtitle {
  margin-bottom: 15px;
  color: #494949;
  min-height: 45px;
  max-height: 45px;
  overflow: hidden;
}

.featured__container .carnival__card .text .btn {
  color: #fff;
  display: inline-block;
  padding: 15px;
  white-space: nowrap;
}

.featured__container .featured_product {
  text-align: center;
}

.featured__container .featured_product .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.featured__container .featured_product .products_slider {
  position: relative;
  margin-top: 20px;
  padding-bottom: 90px;
}

.featured__container .featured_product .products_slider__item {
  padding: 0 5px;
}

.featured__container .featured_product .products_slider__image {
  width: 100%;
  margin-bottom: 15px;
}

.featured__container .featured_product .products_slider__name {
  font-weight: bold;
  margin-bottom: 7px;
}

.featured__container .featured_product .products_slider__rating {
  margin-top: 10px;
}

.featured__container .featured_product .products_slider .slick-arrow {
  position: absolute;
  bottom: 5%;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 10;
}

.featured__container .featured_product .products_slider .slick-prev {
  background: url("../img/left.png") center/35% no-repeat, #cacaca;
  right: 51%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured__container .featured_product .products_slider .slick-prev:active {
  background: url("../img/left.png") center/35% no-repeat, #f92357;
}

.featured__container .featured_product .products_slider .slick-next {
  left: 51%;
  background: url("../img/right.png") center/35% no-repeat, #cacaca;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.featured__container .featured_product .products_slider .slick-next:active {
  background: url("../img/right.png") center/35% no-repeat, #f92357;
}

.news {
  padding: 100px 0;
  background: url("../img/bg_news.jpg") 0 0/cover no-repeat;
}

.news__text {
  text-align: center;
}

.news__text .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.news__cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  margin: 0 auto;
}

.news__cards .card__img img {
  max-width: 100%;
}

.news__cards .card__body {
  background-color: #fff;
  padding: 25px;
}

.news__cards .card__title {
  color: #515151;
  font-size: 18px;
}

.news__cards .card__subtitle {
  margin-top: 5px;
  color: #bebebe;
}

.news__cards .card__text {
  color: #515151;
  margin: 25px 0;
}

.news__cards .card__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.news__cards .card__action .btn {
  color: #fff;
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}

.news__cards .card__action .control .heart {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/like.jpg") center/contain no-repeat;
}

.news__cards .card__action .control .comments {
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/comment.jpg") center/contain no-repeat;
}

.sales__container {
  background-color: #fff;
  padding: 50px 30px;
  position: relative;
  bottom: 40px;
  z-index: 2;
}

.sales__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c2c2c2;
}

.sales__main .products_column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  overflow: hidden;
}

.sales__main .products_column__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 40px;
}

.sales__main .products_column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #c2c2c2;
  padding: 20px 0;
}

.sales__main .products_column__item:last-child {
  border-bottom: none;
}

.sales__main .products_column__item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.sales__main .products_column__item .icon img {
  max-width: 100%;
}

.sales__main .products_column__item .dicsr {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.sales__main .products_column__item .dicsr .name {
  white-space: nowrap;
  color: #000;
}

.sales__main .products_column__item .dicsr .brand {
  white-space: nowrap;
  color: #000;
}

.sales__main .products_column__item .dicsr .raiting .star {
  width: 10px;
  height: 10px;
}

.sales__main .banner {
  padding: 0px 40px 40px 40px;
}

.sales__main .banner img {
  max-width: 100%;
}

.sales__main .title {
  display: none;
}

.sales__footer {
  text-align: center;
  margin-top: 60px;
}

.sales__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sales__subtitle {
  margin-bottom: 50px;
}

.sales__search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sales__search form input {
  border: 1px solid #a1a1a1;
  width: 530px;
  height: 40px;
  padding: 10px;
  font-size: 20px;
}

.sales__search form .btn {
  white-space: nowrap;
  margin-left: 10px;
  color: #fff;
  padding: 12px 25px;
}

.logotips {
  padding: 130px 0 30px 0;
  background-color: #eeeeee;
  position: relative;
  bottom: 80px;
  z-index: 1;
}

.logotips__img img {
  max-width: 100%;
}

.footer {
  padding: 70px 0px;
  color: #fff;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  font-size: 12px;
  padding: 0 15px;
}

.footer__column .title {
  font-family: Montserrat;
  font-weight: 800;
  margin-bottom: 35px;
  font-size: 20px;
  white-space: nowrap;
}

.footer__column .discr {
  margin-bottom: 30px;
}

.footer__column .address {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.footer__column .phone {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.footer__column .mail {
  color: #fff;
  display: block;
}

.footer__column .accounts__list li {
  margin-bottom: 10px;
}

.footer__column .product__list li {
  margin-bottom: 10px;
}

.footer__column .payment__title {
  margin: 20px 0;
}

.footer__column .payment__list li {
  display: inline-block;
}

.footer__column .payment__link {
  display: block;
  width: 28px;
  height: 20px;
}

.footer__column .payment .payment_1 {
  background: url("../img/payment_1.jpg") center/cover no-repeat;
}

.footer__column .payment .payment_2 {
  background: url("../img/payment_2.jpg") center/cover no-repeat;
}

.footer__column .payment .payment_3 {
  background: url("../img/payment_3.jpg") center/cover no-repeat;
}

.footer__column .payment .payment_4 {
  background: url("../img/payment_4.jpg") center/cover no-repeat;
}

.footer__column .payment .payment_5 {
  background: url("../img/payment_5.jpg") center/cover no-repeat;
}

.footer__column .payment .payment_6 {
  background: url("../img/payment_6.jpg") center/cover no-repeat;
}

.footer__column .link {
  color: #fff;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__header .column_account {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.footer__header .column_product {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.footer__header .column_social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin: 0 auto;
}

.footer__header .column_social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__header .column_social .social__list_1 {
  margin-right: 10px;
}

.footer__header .column_social .social__list_1 li {
  margin-bottom: 10px;
}

.footer__header .column_social .social__list_2 li {
  margin-bottom: 10px;
}

.footer__header .column_social .social__link {
  position: relative;
  display: block;
  padding-left: 24px;
}

.footer__header .column_social .social__link:before {
  position: absolute;
  left: 0;
  top: -2px;
  display: block;
  content: "";
  width: 17px;
  height: 17px;
}

.footer__header .column_social .social .google:before {
  background: url("../img/Google_icon.png") 0 0/contain no-repeat;
}

.footer__header .column_social .social .pinterest:before {
  background: url("../img/pinterest_icon.png") 0 0/contain no-repeat;
}

.footer__header .column_social .social .vimeo:before {
  background: url("../img/vimeo_icon.png") 0 0/contain no-repeat;
}

.footer__header .column_social .social .facebook:before {
  background: url("../img/facebook_icon.png") 0 0/contain no-repeat;
}

.footer__header .column_social .social .twitter:before {
  background: url("../img/twitter_icon.png") 0 0/contain no-repeat;
}

.footer__header .column_social .social .rss:before {
  background: url("../img/rss_icon.png") 0 0/contain no-repeat;
}

@media (min-width: 1200px) {
  .featured__container .carnival .first {
    background: url("../img/product_banner_1.jpg") -40px -30px/cover no-repeat;
  }
}

@media (max-width: 1400px) {
  .main__banner {
    height: 540px;
  }

  .main__banner_text .title {
    font-size: 65px;
  }

  .main__banner_text .subtitle {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .featured {
    height: 1040px;
  }

  .featured__container {
    max-width: 85%;
  }

  .sales__container {
    max-width: 85%;
    padding: 50px 15px;
  }
}

@media (max-width: 1100px) {
  .featured {
    height: 940px;
  }

  .featured__container .carnival__card .text .title span {
    font-size: 25px;
  }

  .featured__container .carnival__card .text .subtitle {
    font-size: 13px;
    min-height: 27px;
    max-height: 27px;
  }

  .featured__container .carnival__card .text .btn {
    padding: 7px;
    font-size: 13px;
  }

  .news__cards .card__action .btn {
    padding: 7px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .header {
    height: 100px;
  }

  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header .search {
    height: 50px;
  }

  .main__banner {
    height: 540px;
    margin-top: 100px;
  }

  .main__banner_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__banner_text {
    max-width: 320px;
  }

  .main__banner_text .title {
    font-size: 50px;
  }

  .main__banner_text .subtitle {
    font-size: 25px;
  }

  .main__banner_text .discr {
    font-size: 14px;
  }

  .main__banner_text .btn {
    padding: 10px 15px;
  }

  .featured__container .benefits .benefit__icon {
    width: 90px;
    height: 90px;
    bottom: 100%;
  }

  .featured__container .benefits .benefit__title {
    font-size: 25px;
  }

  .news {
    padding: 70px 0;
  }

  .sales__main .products_column__item .dicsr .name {
    font-size: 12px;
  }

  .sales__main .products_column__item .dicsr .brand {
    font-size: 12px;
  }

  .sales__main .products_column__item .dicsr .price {
    font-size: 12px;
  }

  .logotips {
    padding: 90px 0 30px 0;
  }
}

@media (max-width: 768px) {
  .featured {
    height: 1140px;
  }

  .featured__container .carnival {
    margin-bottom: 50px;
  }

  .featured__container .carnival__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .news__text .title {
    margin-bottom: 0;
  }

  .news__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .news__cards .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin-top: 20px;
  }

  .news__cards .card__body {
    padding: 15px;
  }

  .news__cards .card__title {
    font-size: 16px;
  }

  .news__cards .card__subtitle {
    font-size: 14px;
  }

  .news__cards .card__text {
    font-size: 14px;
  }

  .sales__main .products_column__title {
    display: none;
  }

  .sales__main .banner {
    display: none;
  }

  .sales__main .title {
    font-family: Montserrat;
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .logotips {
    padding: 70px 0 30px 0;
    bottom: 50px;
  }

  .footer__column {
    font-size: 10px;
    margin-bottom: 30px;
  }

  .footer__column .title {
    font-size: 17px;
  }

  .footer__column .payment {
    margin-top: 20px;
  }

  .footer__column .payment__title {
    margin: 0 0 20px 0;
    white-space: nowrap;
  }

  .footer__column .payment__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__column .payment__link {
    margin-right: 5px;
  }
}

@media (max-width: 718px) {
  .header:before {
    z-index: 2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #9bd8f2;
    top: 0;
    left: 0;
  }

  .header__row_top .text__hello {
    position: relative;
    z-index: 2;
    font-size: 12px;
  }

  .header__row_top .text__email {
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  .header__row_top .langs a {
    font-size: 12px;
    position: relative;
    z-index: 2;
  }

  .header__row_bottom .logo {
    position: relative;
    z-index: 2;
  }

  .header__row_bottom .menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    background-color: #098;
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__row_bottom .menu.active {
    top: 0;
    overflow: auto;
  }

  .header__row_bottom .menu__list {
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header__row_bottom .menu__list li {
    display: block;
    margin-top: 10px;
    font-size: 20px;
  }

  .header .search.active {
    width: 50%;
    right: 1%;
    top: 100%;
    z-index: 2;
  }

  .header .action_menu {
    right: 20px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__burger:after,
  .header__burger:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:after {
    background-color: #f9236f;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
  }

  .header__burger.active:before {
    background-color: #f9236f;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }

  .main__banner {
    height: 500px;
  }

  .main__banner_text {
    max-width: 280px;
  }

  .main__banner_text .title {
    font-size: 35px;
  }

  .main__banner_text .subtitle {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 10px;
  }

  .main__banner_text .discr {
    font-size: 10px;
  }

  .main__banner_text .btn {
    font-size: 10px;
  }

  .featured {
    height: 1040px;
  }

  .featured__container .benefits {
    padding-bottom: 50px;
  }

  .featured__container .benefits .benefit__icon {
    padding: 20px;
    width: 80px;
    height: 80px;
    bottom: 100%;
  }

  .featured__container .benefits .benefit__title {
    font-size: 20px;
    min-height: 30px;
  }

  .featured__container .benefits .benefit__subtitle {
    font-size: 10px;
  }
}

@media (max-width: 684px) {
  .footer__column .payment {
    margin-top: 0;
    margin-left: 30px;
  }

  .footer__column .payment__title {
    margin-bottom: 35px;
  }

  .footer__header .column_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 600px) {
  .featured {
    height: 1100px;
  }
}

@media (max-width: 576px) {
  .main__banner {
    height: 400px;
  }

  .featured__container .carnival__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .news__cards .card__body {
    padding: 5px;
  }

  .news__cards .card__title {
    font-size: 14px;
  }

  .news__cards .card__subtitle {
    font-size: 12px;
  }

  .news__cards .card__subtitle {
    font-size: 10px;
  }

  .news__cards .card__text {
    font-size: 12px;
  }

  .news__cards .card__action .control .heart {
    width: 20px;
    height: 20px;
  }

  .news__cards .card__action .control .comments {
    width: 20px;
    height: 20px;
  }

  .sales__title {
    font-size: 20px;
  }

  .sales__subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .sales__search form input {
    height: 37px;
  }

  .sales__search form .btn {
    font-size: 10px;
    padding: 12px 20px;
  }

  .logotips {
    padding: 40px 0 30px 0;
    bottom: 60px;
  }
}

@media (max-width: 560px) {
  .header__row_top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__row_top .text__hello {
    margin-right: 35px;
  }

  .header__row_top .text__email {
    display: none;
  }

  .header__row_bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__row_bottom .logo {
    margin-right: 35px;
  }
}

@media (max-width: 530px) {
  .main__banner {
    background: url("../img/main_banner.jpg") 0 0/cover no-repeat;
    height: 400px;
  }

  .main__banner_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  .sales__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sales__main .products_column__item:last-child {
    border-bottom: 1px solid #c2c2c2;
  }

  .sales__main .products_column__item .dicsr {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sales__main .products_column__item .dicsr .name {
    font-size: 16px;
  }

  .sales__main .products_column__item .dicsr .brand {
    font-size: 14px;
  }

  .sales__main .products_column__item .dicsr .price {
    font-size: 14px;
  }
}

@media (max-width: 463px) {
  .footer__column .payment {
    margin-top: 20px;
    margin-left: 0;
  }

  .footer__column .payment__title {
    margin-bottom: 20px;
  }

  .footer__header .column_social {
    display: block;
  }
}

@media (max-width: 460px) {
  .sales__title {
    font-size: 15px;
  }

  .sales__subtitle {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .sales__search form input {
    width: 160px;
    height: 25px;
    font-size: 10px;
  }

  .sales__search form .btn {
    padding: 6px 15px;
  }
}

@media (max-width: 450px) {
  .featured {
    height: 1050px;
  }
}

@media (max-width: 440px) {
  .news__cards .card__action .control .heart {
    width: 15px;
    height: 15px;
  }

  .news__cards .card__action .control .comments {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 420px) {
  .featured {
    height: 1200px;
  }

  .featured__container .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }

  .featured__container .benefits .benefit {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media (max-width: 400px) {
  .news__cards .card__title {
    font-size: 12px;
  }

  .news__cards .card__text {
    font-size: 10px;
  }

  .news__cards .card__action .btn {
    font-size: 10px;
  }
}

@media (max-width: 399px) {
  .featured {
    height: 1370px;
  }
}

@media (max-width: 390px) {
  .featured__container .carnival .first {
    background: url("../img/product_banner_1.jpg") -40px 0/cover no-repeat;
  }

  .featured__container .carnival .second {
    background: url("../img/product_banner_2.jpg") -40px 0/cover no-repeat;
  }
}

@media (max-width: 376px) {
  .footer__header .column_social {
    margin: 0;
  }
}

@media (max-width: 361px) {
  .footer__header .column_about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.webp body{ background: url(../img/bg.webp) 0 0/cover repeat; }

.webp .main__banner{ background: url(../img/girl_bg.webp) 100% 100%/contain no-repeat, url(../img/main_banner.webp) 0 0/cover no-repeat; }

.webp .featured__container .carnival .first{ background: url(../img/product_banner_1.webp) 0 0/cover no-repeat; }

.webp .featured__container .carnival .second{ background: url(../img/product_banner_2.webp) 0 0/cover no-repeat; }

.webp .featured__container .featured_product .products_slider .slick-prev{ background: url(../img/left.webp) center/35% no-repeat, #cacaca; }

.webp .featured__container .featured_product .products_slider .slick-prev:active{ background: url(../img/left.webp) center/35% no-repeat, #f92357; }

.webp .featured__container .featured_product .products_slider .slick-next{ background: url(../img/right.webp) center/35% no-repeat, #cacaca; }

.webp .featured__container .featured_product .products_slider .slick-next:active{ background: url(../img/right.webp) center/35% no-repeat, #f92357; }

.webp .news{ background: url(../img/bg_news.webp) 0 0/cover no-repeat; }

.webp .news__cards .card__action .control .heart{ background: url(../img/like.webp) center/contain no-repeat; }

.webp .news__cards .card__action .control .comments{ background: url(../img/comment.webp) center/contain no-repeat; }

.webp .footer__column .payment .payment_1{ background: url(../img/payment_1.webp) center/cover no-repeat; }

.webp .footer__column .payment .payment_2{ background: url(../img/payment_2.webp) center/cover no-repeat; }

.webp .footer__column .payment .payment_3{ background: url(../img/payment_3.webp) center/cover no-repeat; }

.webp .footer__column .payment .payment_4{ background: url(../img/payment_4.webp) center/cover no-repeat; }

.webp .footer__column .payment .payment_5{ background: url(../img/payment_5.webp) center/cover no-repeat; }

.webp .footer__column .payment .payment_6{ background: url(../img/payment_6.webp) center/cover no-repeat; }

.webp .footer__header .column_social .social .google:before{ background: url(../img/Google_icon.webp) 0 0/contain no-repeat; }

.webp .footer__header .column_social .social .pinterest:before{ background: url(../img/pinterest_icon.webp) 0 0/contain no-repeat; }

.webp .footer__header .column_social .social .vimeo:before{ background: url(../img/vimeo_icon.webp) 0 0/contain no-repeat; }

.webp .footer__header .column_social .social .facebook:before{ background: url(../img/facebook_icon.webp) 0 0/contain no-repeat; }

.webp .footer__header .column_social .social .twitter:before{ background: url(../img/twitter_icon.webp) 0 0/contain no-repeat; }

.webp .footer__header .column_social .social .rss:before{ background: url(../img/rss_icon.webp) 0 0/contain no-repeat; }

@media (min-width: 1200px){

  .webp .featured__container .carnival .first{ background: url(../img/product_banner_1.webp) -40px -30px/cover no-repeat; }
}

@media (max-width: 530px){

  .webp .main__banner{ background: url(../img/main_banner.webp) 0 0/cover no-repeat; }
}

@media (max-width: 390px){

  .webp .featured__container .carnival .first{ background: url(../img/product_banner_1.webp) -40px 0/cover no-repeat; }
}

@media (max-width: 390px){

  .webp .featured__container .carnival .second{ background: url(../img/product_banner_2.webp) -40px 0/cover no-repeat; }
}