* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  min-width: 320px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.header {
  background-color: #0e1a35;
}
.header .grid {
  background: url(../img/Grid.png) no-repeat;
  background-position: center;
}
.header .grid .graf {
  background: url(../img/Graph.png) no-repeat;
  background-position: center;
}
.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-collapse {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
}
.navbar-light .navbar-nav .nav-link {
  color: #d6d7d9;
  font-size: 18px;
}
.navbar-light .navbar-toggler {
  background-color: #d6d7d9;
}
.logo {
  width: 240px;
  height: auto;
}
.button-opacity {
  border-radius: 25px;
  margin-left: 10px;
  border: 1px solid #5584ff;
}
.button-opacity:hover {
  border: 1px solid #1a2b6b;
}
.button-opacity:hover span {
  color: #1a2b6b;
}
.button-opacity span {
  color: #5584ff;
  padding: 10px 30px;
}
.button-blue {
  border-radius: 25px;
  background-color: #5584ff;
  border: none;
  margin-top: 80px;
}
.button-blue:hover {
  background-color: #1a2b6b;
}
.button-blue span {
  display: block;
  color: #d6d7d9;
  padding: 10px 30px;
}
.button_light {
  border: 1px solid #dadee7;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  color: #0e1a35;
}
.button_light:hover {
  background-color: #5584ff;
  color: #d6d7d9;
  text-decoration: none;
}
.header {
  position: relative;
  height: 1100px;
}
.header_comp {
  position: relative;
  margin-top: 120px;
}
.header_comp h2 {
  color: #d6d7d9;
  font-size: 60px;
}
.header_comp h3 {
  color: #8492af;
  font-size: 36px;
}
.dashboard {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.feature {
  padding: 100px 0px 150px;
}
.feature_box {
  margin-top: 20px;
}
.feature_box img {
  width: 80px;
  height: auto;
}
.feature_box h3 {
  color: #0e1a35;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}
.feature_box p {
  color: #8492af;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.grup {
  position: relative;
  padding-bottom: 80px;
}
.grup_composition {
  padding-top: 50px;
}
.grup_composition h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 50px;
}
.grup_composition p {
  color: #8492af;
  margin-bottom: 44px;
}
.grup_composition span {
  display: block;
  color: #5584ff;
  margin-bottom: 30px;
  font-size: 22px;
  position: relative;
  padding-left: 35px;
}
.grup_composition span:before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 32px;
  line-height: 22px;
  background: url(../img/checked.png) no-repeat;
  position: absolute;
  margin-left: -35px;
}
.grup_img {
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.drag {
  background-color: #0e1a35;
}
.drag .grid {
  background: url(../img/Grid.png) no-repeat;
  background-position: center;
}
.drag .grid .graf {
  background: url(../img/Graph.png) no-repeat;
  background-position: center;
  padding: 40px;
}
.progres_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progres_title h3 {
  font-size: 30px;
  font-weight: 500;
  color: #d6d7d9;
}
.progres_title h3 span {
  color: #8492af;
}
.progres_title .arrow {
  font-size: 50px;
  color: #8492af;
}
.progres_card {
  background-color: #fff;
  margin-bottom: 20px;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
  cursor: pointer;
}
.progres_card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.progres_card_body {
  position: relative;
  padding: 15px;
}
.progres_card_body:before {
  position: absolute;
  content: 'N';
  display: block;
  width: 40px;
  height: 40px;
  background-color: #5584ff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.progres_card_body:after {
  position: absolute;
  top: 0;
  right: -7%;
  content: '⋮';
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.progres_card_title {
  margin-left: 50px;
  display: block;
}
.progres_card_work {
  margin-left: 50px;
  font-size: 12px;
  display: block;
  color: #8492af;
}
.progres_card_work i {
  margin-right: 4px;
}
.drop_card {
  text-align: center;
  border: 1px dotted #8492af;
  padding: 20px 0;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
  cursor: pointer;
}
.drop_card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.drop_card span {
  color: #8492af;
}
