html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
section{
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  border-bottom: 5px solid black;
  max-width: 1180px;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #543f4c;
}
.header__body{
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.header__logo img{
  max-width: 100%;
  display: block;
}
.header__list{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list li{
  list-style: none;
}
.header__link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 20px;
}
#field {
  background: url(https://js.cx/drag-heroes/field.png);
  width: 800px;
  height: 600px;
  float: left;
}

/* герои и мяч (переносимые элементы) */

.hero {
  background: url(https://js.cx/drag-heroes/heroes.png);
  width: 130px;
  height: 128px;
  float: left;
}

#hero1 {
  background-position: 0 0;
}

#hero2 {
  background-position: 0 -128px;
}

#hero3 {
  background-position: -120px 0;
}

#hero4 {
  background-position: -125px -128px;
}

#hero5 {
  background-position: -248px -128px;
}

#hero6 {
  background-position: -244px 0;
}

.draggable {
  cursor: pointer;
}

/* общие стили для таблицы, изменять их не нужно */
#bagua-table{
  margin: 0 auto;
}
.edit-td{
  position: relative;
  padding: 0;
};

th {
  text-align: center;
  font-weight: bold;
}

td {
  width: 150px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.nw {
  background-color: #999;
}

.n {
  background-color: #03f;
  color: #fff;
}

.ne {
  background-color: #ff6;
}

.w {
  background-color: #ff0;
}

.c {
  background-color: #60c;
  color: #fff;
}

.e {
  background-color: #09f;
  color: #fff;
}

.sw {
  background-color: #963;
  color: #fff;
}

.s {
  background-color: #f60;
  color: #fff;
}

.se {
  background-color: #0c3;
  color: #fff;
}



#prompt-form {
  display: inline-block;
  padding: 5px 5px 5px 70px;
  width: 200px;
  border: 1px solid black;
  background: white url(https://en.js.cx/clipart/prompt.png) no-repeat left 5px;
  vertical-align: middle;
}

#prompt-form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(174, 179, 189, 0.6);
  display: none;
}

#prompt-form-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

#prompt-form input[name="text"] {
  display: block;
  margin: 5px;
  width: 180px;
}


#show-form{
  display: block;
  background-color: yellow;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  border: none;
  margin: 0 auto;
}

#mouse {
  display: inline-block;
  cursor: pointer;
  margin: 0;
}

#mouse:focus {
  outline: 1px dashed black;
}
td select,
td input {
  width: 150px;
}

#diagram td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px;
}

#diagram div {
  margin: auto;
}

@media (max-width: 768px) {
  .header__burger{
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
    margin-right: 30px;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header__burger:before{
    bottom: 0;
  }
  .header__burger:after{
    top:0;
  }
  .header__burger span{
    position: absolute;
    left:0;
    top:9px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .header:before{
    z-index: 3;
  }
  .header__logo{
    z-index: 4;
    margin-left: 30px;
  }
  .header__menu{
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c3afc9;
    z-index: 1;
    transition: all 0.4s ease;
  }
  .header__list{
    padding-top: 80px;
    display: block;
  }
  .header__list li{
    margin-top: 20px;
  }
  .header__burger.active:before{
    transform: rotate(45deg);
    top:50%;
  }
  .header__burger.active:after{
    transform: rotate(-45deg);
    top:50%;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__menu.active{
    overflow: auto;
    top:0;
  }
  body.lock{
    overflow: hidden;
  }
}