@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  height: 1500px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
}

.header__top {
  background-color: #03a9f4;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.contacts__icon {
  width: 13px;
  height: 13px;
  fill: #fff;
  margin-right: 5px;
}

.contacts__address {
  color: #fff;
}

.contacts__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  padding-left: 20px;
  margin-right: 20px;
}

.contacts__phones svg {
  position: absolute;
  left: 0;
  top: 0;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phones__mobile a {
  border-left: 1px solid #fff;
  padding: 0 5px;
}

.appointment {
  display: block;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.logo {
  display: block;
  min-width: 150px;
}

.logo img {
  max-width: 100%;
}

.menu {
  color: #000;
  height: 100%;
  position: relative;
}

.menu__burger {
  display: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.menu li {
  padding: 5px 0;
}

.menu__link {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.menu__link:hover {
  color: #03a9f4;
}

.dropdown {
  padding: 5px 0 5px 5px;
}

.dropdown li a {
  color: #000;
}

@media (min-width: 768px) {
  .menu li.drop {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }

  .menu li.drop:hover .dropdown {
    opacity: 1;
    visibility: visible;
  }

  .dropdown {
    position: absolute;
    padding: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    border-top: 2px solid #03a9f4;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .dropdown li a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    display: block;
  }

  .dropdown li:hover a {
    color: #03a9f4;
  }
}

@media (max-width: 1199px) {
  .menu__link {
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .contacts__phones svg {
    position: static;
    width: 25px;
    height: 25px;
  }

  .contacts__phones {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .contacts__mail svg {
    width: 30px;
    height: 30px;
  }

  .contacts__mail span {
    display: none;
  }

  .contacts__social svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .phones {
    display: block;
    position: absolute;
    top: 30px;
    left: 40px;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    width: 150px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    visibility: hidden;
    background-color: #03a9f4;
  }

  .phones.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .phones__mobile a {
    display: block;
    border-left: none;
    padding: 0;
    margin-top: 15px;
  }

  .logo {
    padding-left: 20px;
    text-align: center;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .phones {
    left: 0;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  .phones {
    top: 28px;
    left: -70px;
  }
}

@media (max-width: 767px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 252px;
            flex: 0 0 252px;
  }

  .contacts__phones svg {
    width: 17px;
    height: 17px;
  }

  .contacts__mail svg {
    width: 20px;
    height: 20px;
  }

  .contacts__social svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .appointment {
    font-size: 14px;
    padding: 5px 5px;
  }

  .logo {
    padding-left: 0;
  }

  .menu__burger {
    display: block;
    width: 25px;
    height: 18px;
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 10px;
  }

  .menu__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 8px;
  }

  .menu__burger:after,
  .menu__burger:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__burger.active:before {
    top: 11px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu__burger.active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 5px;
  }

  .menu__list {
    overflow: auto;
    position: fixed;
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
    visibility: hidden;
    -webkit-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    left: 20px;
    top: 0;
    padding: 130px 0px 20px 0;
  }

  .menu__list.active {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }

  .contacts__address .contacts__icon {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1050px) {
  .dropdown {
    left: -35px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .dropdown li a {
    font-size: 10px;
  }
}