@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
}

.section-title {
  text-align: center;
  color: #03a9f4;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.section-title:after {
  content: '';
  background: #03a9f4;
  bottom: -1px;
  content: '';
  height: 3px;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 30px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header__top {
  background-color: #03a9f4;
  position: relative;
  z-index: 10;
}

.header__bottom {
  background-color: #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
}

.contacts__icon {
  width: 13px;
  height: 13px;
  fill: #fff;
  margin-right: 5px;
}

.contacts__address {
  color: #fff;
}

.contacts__phones {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  padding-left: 20px;
  margin-right: 20px;
}

.contacts__phones svg {
  position: absolute;
  left: 0;
  top: 0;
}

.contacts__mail a {
  color: #fff;
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.phones__home a {
  color: #fff;
}

.phones__mobile a {
  color: #fff;
  border-left: 1px solid #fff;
  padding: 0 5px;
}

.appointment {
  display: block;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
}

.logo {
  max-width: 250px;
}

.logo img {
  max-width: 100%;
}

.menu {
  max-height: 200px;
}

.menu__list {
  width: 100%;
}

.menu__item.drop {
  position: relative;
}

.menu__item.drop .dropdown {
  margin: 0;
  padding: 0;
  padding: 10px 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 220px;
  background: #fff;
  border-top: 2px solid #03a9f4;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu__item.drop .dropdown a {
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #222;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.menu__item.drop .dropdown a:hover {
  color: #03a9f4 !important;
}

.menu__item.drop:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.menu__item:hover .menu__link {
  color: #03a9f4 !important;
}

.menu__link {
  color: #000 !important;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__link.active {
  color: #03a9f4 !important;
}

.slider__indicators li {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #03a9f4;
  border-radius: 50%;
}

.services__img img {
  max-width: 100%;
}

.box__title {
  font-size: 26px;
  text-transform: uppercase;
}

.box p {
  color: #03a9f4;
  margin: 15px;
  padding-left: 10px;
}

.services-icon {
  fill: #03a9f4;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.feature {
  background-color: #03a9f4;
  padding: 60px 0;
}

.feature__title {
  color: #fff;
}

.feature__title:after {
  background-color: #fff;
}

.box-feature {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.box-feature__title {
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  padding: 10px 0;
}

.team {
  padding: 40px 0;
}

.item {
  margin: 15px 0;
  word-break: break-word;
}

.news-post img {
  width: 100%;
  border-radius: 10px;
}

.news-post h2 {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  min-height: 44px;
  font-weight: 700;
}

.news-post h2 a:hover {
  color: #03a9f4;
}

.news-post .post-tags {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.news-post .post-tags li {
  color: #03a9f4;
  display: inline-block;
  font-size: 13px;
  font-style: italic;
  margin-right: 4px;
}

.textleft h3 {
  font-size: 23px;
}

.textleft h3 a {
  color: #03a9f4;
}

.textleft h3 a:hover {
  color: #23527c;
  text-decoration: underline;
}

.textleft p {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
}

.textleft p a {
  color: #337ab7;
}

.get-appointment {
  padding: 60px 0;
  background-color: #03a9f4;
  color: #fff;
}

.get-appointment__title {
  color: #fff;
}

.get-appointment__title:after {
  background-color: #fff;
}

.get-appointment__subtitle {
  text-align: center;
  font-size: 24px;
}

.get-appointment__text {
  text-align: center;
}

.get-appointment__btn {
  text-align: center;
}

.get-appointment__btn a {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: #03a9f4;
  font-size: 18px;
  margin-top: 20px;
  outline: 0;
  padding: 10px 20px;
}

.news {
  padding: 40px 0 20px;
}

.footer {
  background: #222;
  padding: 40px 0 0 0;
  color: #fff;
}

.footer-top {
  padding-bottom: 40px;
}

.footer-top h4 {
  color: #03a9f4;
  font-size: 20px;
}

.footer-top__about {
  line-height: 20px;
}

.footer-top__about p {
  margin-top: 14px;
}

.footer-top__link {
  color: #03a9f4;
  display: block;
  margin-top: 10px;
}

.footer-top__list {
  list-style: none;
  margin: 0 30px 16px 0;
  padding: 0;
  display: inline-block;
}

.footer-top__list li {
  margin: 10px 0;
}

.footer-top__list a {
  color: #fff;
}

.footer-top__icon {
  fill: #03a9f4;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.footer-top__business p {
  margin-top: 14px;
}

.footer-top__business p span {
  color: #03a9f4;
}

.footer-copyright {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
}

.footer-copyright p {
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.scrollup {
  position: fixed;
  bottom: 20px;
  left: -120px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrollup__icon {
  fill: #337ab7;
  width: 54px;
  height: 54px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrollup__icon:hover {
  fill: #333ab2;
}

.scrollup.active {
  opacity: 1;
  visibility: visible;
  left: 20px;
}

@media (min-width: 1366px) {
  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 1320px) {
  .box-feature__title {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .menu__item.drop .dropdown {
    left: -50px;
  }

  .menu__link {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .slider {
    padding-top: 130px;
  }
}

@media (max-width: 991px) {
  .contacts__phones svg {
    position: static;
    width: 25px;
    height: 25px;
  }

  .contacts__phones {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .contacts__mail svg {
    width: 30px;
    height: 30px;
  }

  .contacts__mail span {
    display: none;
  }

  .contacts__social svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .phones {
    display: block;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 40px;
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    width: 150px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    visibility: hidden;
    background-color: #03a9f4;
  }

  .phones.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .phones__mobile a {
    display: block;
    border-left: none;
    padding: 0;
    margin-top: 15px;
  }

  .menu {
    overflow: auto;
  }

  .menu__item.drop .dropdown {
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    border: 0;
    width: 100%;
  }

  .menu__item.drop .dropdown a {
    padding: 5px 20px;
    text-transform: capitalize;
  }

  .slider__indicators li {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .phones {
    left: 0;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  .phones {
    top: 28px;
    left: -70px;
  }
}

@media (max-width: 767px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 252px;
            flex: 0 0 252px;
  }

  .contacts__phones svg {
    width: 17px;
    height: 17px;
  }

  .contacts__mail svg {
    width: 20px;
    height: 20px;
  }

  .contacts__social svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .appointment {
    font-size: 14px;
    padding: 5px 5px;
  }
}

@media (max-width: 575px) {
  .contacts__address {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 140px;
            flex: 0 0 140px;
  }

  .contacts__address .contacts__icon {
    display: none;
  }
}

@media (max-width: 490px) {
  .box__title {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .logo {
    max-width: 200px;
  }

  .box-feature__title {
    font-size: 16px;
  }
}

@media (max-height: 390px) {
  .menu {
    max-height: 130px;
  }
}