body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.h1,
.h2,
.h3,
.h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.padding_2 {
  padding-right: 1px;
  padding-left: 1px;
}
.bg_light {
  background-color: #fff;
}
.logo {
  position: relative;
}
.logo img {
  width: 130px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.logo .h1 {
  color: #ffffff;
  font-size: 38px;
}
.logo .h2 {
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}
.logo .h2:last-child {
  display: inline-block;
  margin-left: 5px;
}
.logo a {
  display: inline-block;
  color: #ffffff;
  font-size: 10px;
}
.logotips {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.logotips .logo_kpl {
  width: 90px;
  height: auto;
}
.navbar-light {
  margin-top: 27px;
  background-color: #0f3875;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.news_header {
  color: #0f3875;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  background-color: #ededed;
  padding-left: 24px;
}
.card {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  padding: 10px;
}
.card-title {
  color: #0f3875;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-img {
  border-radius: 0;
  padding: 8px;
}
.card-text {
  max-height: 75px;
  min-height: 75px;
  overflow: hidden;
  margin-bottom: 0;
}
.data {
  display: block;
  text-align: center;
  color: #0356fc;
  font-size: 14px;
}
.data_tur {
  display: block;
  text-align: center;
  color: #0356fc;
  font-style: italic;
  font-size: 14px;
}
.teams {
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 270px;
}
.teams_img {
  width: 140px;
  height: auto;
}
.teams span {
  font-size: 35px;
  font-weight: bold;
  color: #0f3875;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
.teams_title {
  font-size: 17px;
  margin-top: 20px;
  max-width: 140px;
}
.teams figure {
  position: absolute;
  bottom: 10%;
}
.teams figure:last-child {
  right: 0;
}
